.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
build/
dist/
out/
**/src/generated
*.tsbuildinfo
*.vsix
trial/
.playwright-mcp/
.cursor/
.claude/

# Ignore everything in examples directory except .floorplan files
examples/*
!examples/*.floorplan
secrets/
.env
